/* ==UserStyle==
@name           Google Calendar Dracula
@namespace      github.com/dracula/google-calendar
@version        1.0.0
@description    A dark theme for Google Calendar
@author         accountingnerd [(https://github.com/accountingnerd)]
@homepageURL	https://github.com/dracula/google-calendar
==/UserStyle== */
@-moz-document domain("calendar.google.com") {
	/* Overall Dark Color Theme for Google Calendar */
	:root {
		/* ===============================================================*/
		/* TODO: Fill in this image source with your own alternative image */
		--alternate-logo-source: url(none);
		/* ===============================================================*/
		color-scheme: dark;
		--background: #282a36;
		--currentLine: #44475a;
		--foreground: #f8f8f2;
		--comment: #6272a4;
		--cyan: #8be9fd;
		--green: #50fa7b;
		--orange: #ffb86c;
		--pink: #ff79c6;
		--purple: #bd93f9;
		--red: #ff5555;
		--yellow: #f1fa8c;
		--comment-dimmed: rgba(98, 114, 164, 1);
		--hairline: var(--currentLine);
		--surface: var(--background);
		--on-surface: var(--foreground);
		--on-surface-variant: var(--comment);
		--on-surface-variant-agm: var(--pink);
		--on-background: var(--foreground);
		--textfield-surface: var(--currentLine);
		--textfield-primary: var(--cyan);
		--textfield-hairline: var(--purple);
		--textfield-error: var(--red);
		--textfield-on-surface-variant: var(--comment);
		--primary: var(--purple);
		--primary-variant: var(--pink);
		--on-primary: var(--foreground);
		--secondary: var(--background);
		--secondary-variant: var(--comment);
		--on-secondary: var(--foreground);
		--on-secondary-variant: var(--comment);
		--surface-transparent: rgba(40, 42, 55, 0);
		--now: var(--red);
		--dimmed: var(--comment);
		--chip-hover: var(--purple);
		--error: var(--red);
		--on-error: var(--foreground);
		--fab-hover: var(--background);
		--gm-fillbutton-ink-color: var(--foreground);
		--gm-fillbutton-container-color: var(--purple);
		--gm-neutraltextbutton-ink-color: var(--comment);
		--gm-neutraltextbutton-ink-color--stateful: var(--background);
		--mdc-theme-on-surface: var(--foreground)!important;
		--gm-hairlinebutton-ink-color: var(--cyan);
		--gm-hairlinebutton-ink-color--stateful: var(--purple);
		--mdc-theme-text-secondary-on-background: var(--foreground);
		--gm-colortextbutton-ink-color: var(--purple);
		--gm-colortextbutton-ink-color--stateful: var(--cyan);
		--mdc-ripple-color: var(--cyan);
		--mdc-theme-surface: var(--currentLine);
		--gm-neutraltextbutton-state-color: var(--currentLine);
		--checkbox-color: var(--purple);
		--gm-radio-state-color: var(--purple);
		--gm-radio-stroke-color--checked: var(--purple);
		--gm-radio-stroke-color--unchecked: var(--purple);
		--gm-radio-ink-color: var(--purple);

		--gm3-icon-button-filled-container-color: transparent;
		--gm3-icon-button-filled-icon-color: var(--foreground) !important;
		--gm3-icon-button-filled-hover-icon-color: var(--foreground) !important;
		--gm3-icon-button-filled-focus-icon-color: var(--foreground) !important;
		--gm3-icon-button-filled-hover-state-layer-color: var(--foreground) !important;
		--gm3-icon-button-filled-pressed-icon-color: var(--foreground) !important;
		--gm3-icon-button-filled-hover-state-layer-opacity: 0.2;
		--gm3-icon-button-filled-pressed-state-layer-opacity: 0.5;
		--pkw-background: var(--background);
		--pkw-primary: var(--cyan);
		--pkw-on-surface: var(--foreground);
		--pkw-on-surface-variant: var(--comment);
		--mdc-checkbox-selected-icon-color: var(--purple);
		--mdc-checkbox-unselected-hover-state-layer-color: var(--comment);
	}
	
	.xg1yEb.xg1yEb {
		--gm3-icon-button-filled-icon-color: var(--purple);
		--gm3-icon-button-filled-hover-icon-color: var(--pink);	
		--gm3-icon-button-filled-focus-icon-color: var(--purple);
		--gm3-icon-button-filled-hover-state-layer-color: var(--pink);
		--gm3-icon-button-filled-pressed-icon-color: var(--cyan);
		
	}

	body {
		background-color: var(--background);
	}
	
	header {
		background-color: var(--currentLine) !important;
	}

	/* Header Elements */
	.gb_Pc svg,
	.NkK3Fc span[role=heading],
	.j9Fkxf:not(:disabled),
	.JJyfjc,
	.UyW9db,
	.ec9Aq,
	.gb_Ra svg,
	.gb_Vc svg,
	.gb_hd .gb_pd,
	.gb_7c .gb_pd {
		color: var(--foreground) !important;
	}

	/* ========== End Header ========== */
	
	/* Time Insights */
	
	.msLrsf /* Text Header */
	, .BF7cNd /* Time Insights Header */
	, .uoCvO /* Time Spent */
	, .IJDILb /* Label Names */
	, .hPfWQd /* Time in Meetings */
	, .yVvvMc /* People you Meet With - Names */
	, .eWT7sb /* Legend Text */
	, .SWGFcb /* Time Spent */
	{
		color: var(--foreground);
	}
	
	.SDiQL /* Most Meetings, Daily Average */
	, .UQuaGc /* By Type, By Color */
	, .BIsmBd[aria-checked=true] .r8fcBf
	, .Fs5u9c
	{
		color: var(--purple);
	}
	
	.Uaf9uf .Ce1Y1c svg
	{
		fill: var(--background);
	}
	
	
	.Tz47sb /* Daily Graph Line */
	{
		border-right-color: var(--foreground);
	}
	
	.hRlabf /* Non-highlighted Week */
	, .u0Pitc /* Next time to meet with people */
	, .nFP92b /* X to Close */
	{
		color: var(--comment);
	}
	
	.nFP92b:hover /* X to Close */
	{
		color: var(--purple);
	}
	
	.BIsmBd[aria-checked=true] .CeoRYc
	{
		background-color: var(--pink);
	}
	
	.Uaf9uf
	{
		background-color: var(--foreground)
	}
	
	/* End Time Insights */
	
	/* ========== Sidebar Elements ========== */
	
	.DYLA1c, .WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me), .lUmaj {
		background-color: var(--currentLine);
	}
	
	.Q4y17 .r4nke/* Month */
	, .fWMZdd/* Meet With... */
	, .HHHDef/* Arrows */
	, .qADfd/* Time Insights */
	{
		color: var(--purple)
	}

	.PcdQkc .NCyou/* Time insights week */
	{
		color: var(--pink)
	}

	.PcdQkc .WPEztb/* Time insights text */
	{
		color: var(--foreground);
	}

	/* Time Insights Graph */
	.c6dqA {
		background-color: var(--purple) !important;
	}
	.c6dqA.Jx4JNd {
		background-color: var(--comment) !important;
	}

	.c6dqA.TdEQef {
		background-color: var(--foreground) !important;
	}

	.k50Dh,
	.f1QMue,
	.IOneve/* Calendar Widget */
	, .IOneve .r4nke/* Calendar Days */
	, #drawerMiniMonthNavigator/* Calendar Div */
	, .IOneve::before {
		color: var(--foreground);
		background-color: var(--background);
	}
	

	  .IOneve .r4nke:hover /* Calendar Days */
	, .p6vobf .r4nke
	, .p6vobf.pWJCO .r4nke
	, .p6vobf.pWJCO.q2d9Ze .r4nke
	, .J09ahd /* meet with people list */
	{
		background-color: var(--currentLine);
	}

	
	/* Non-current Day Hover */
	.nSCxEf.RKLVef:hover
	, body.geSgge .nSCxEf.RKLVef:hover
	, .nSCxEf.N4XV7d.RKLVef:hover
	, body.geSgge .nSCxEf.N4XV7d.RKLVef:hover
	{
		background-color: var(--pink);
	}
	
	/* Highlighted Day */
	.nSCxEf.F262Ye.RKLVef:hover
	, body.geSgge .nSCxEf.F262Ye.RKLVef:hover
	{
		background-color: var(--purple);	
	}
	
	.IAQE3d/* Other Time Zones */
	{
		color: var(--pink)
	}

	.o8t45d/* My Calendars */
	,
	.toUqff/* Calendar Names */
	{
		color: var(--foreground)
	}

	/* ========== End Sidebar ========== */
	
	
	/* ========== Main Calendar ========== */
	.OCQPo
	, .pbeTDb
	, .RAaXne
	/* Main Background Color */
	, .sS0sZd /* Time Zone Selectors */
	, .R6TFwe /* Time Labels */
	, .NAFvr /* RSVP Line in Event Details */
	, .Az5uJd.RLj2u
	, .wmCMbe /* Top of the new event Details */
	, .OCQPo
	, .pbeTDb
	, .RAaXne
	, .sS0sZd
	, .R6TFwe
	, .NAFvr
	, .Az5uJd.RLj2u
	, .wmCMbe
	, .lYYbjc
	{
		background-color: var(--background);
	}
	
	.wmCMbe
	{
		box-shadow: inset 0 1px var(--background)
	}

	.ouBNcf,
	.iHNmdb/* Times */
	,
	.nSCxEf.pCcXPe/* Day of the month */
	,
	.tWjOu,
	.tWjOu.pCcXPe,
	.tWjOu.N4XV7d/* Day Names */
	,
	.zVMKbc/* Calendar Names - Day View */
	,
	.EeuFAf/* Days of the week - Month View */
	,
	.o5s4T .w48V4c, /* Day Number - Current Month - Month View */
	.i5a7ie.krHqHb, /* Top Row - Event Details */
	.q7aeG, /* X button - Event Details */
	.HfYfLe, /* Edit and delete buttons - Event Details */
	.Mz3isd .EaVNbc /* Time and List Buttons - Event Details */,
	.qXIcZc .GEhdLd /* calendar cannot be shown */
	{
		color: var(--foreground);
	}

	/* Calendar Borders */
	.MGaLHf /* Cells */
	,.w6FdBf /* Day Names */
	{
		border-right-color: var(--currentLine);
	}
	
	.FLFkR /* Rows */
	{
		border-bottom-color: var(--currentLine);
	}
	
	.RAaXne:not(.Wyo4Qe) /* Left Side Border */
	, .gboEAb /* Right Side Border */
	{
		border-left-color: var(--currentLine);
	}
	
	
	
	.w48V4c, /* Day Numbers - Prior Month/Next Month - Month View */
	.KF4T6b.qqMC3e,
	.KF4T6b.smECzc,/* Event Names - Future Events - Month View */
	.KF4T6b.UflSff .nHqeVd, /* Event Names - Past Events - Month View */
	.fqZQ1b .toUqff /* Task Title - Task Details */,
	.agOyMd .UfeRlc /* Event Title - Event Details */,
	.agOyMd div.AzuXid /* Event Time - Event Details */,
	.pdqVLc .cjq2Db:not(.RDPZE), .pdqVLc .DPvwYc, .pdqVLc .meh4fc /* Event Details Icons */,
	.meh4fc svg /* Meeting Notes Icon */,
	.pdqVLc .toUqff /* Event Details Text */,
	.YTCBlf /* Going? - Event Details */,
	.WjVFVc .VfPpkd-StrnGf-rymPhb-ibnC6b /* Event Detail Options */,
	.VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-IhFlZd, .VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-f7MjDc /* Attach a Document */,
	.cC1eCc .VfPpkd-k2Wrsb /* Add a Note - Title */
	,.INBYpd:not(:disabled) .VfPpkd-kBDsod
	{
		color: var(--foreground);
		fill: var(--foreground);
	}
	
	.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me),
	.lUmaj /* RSVP Dropdown */
	{
		background-color: var(--currentLine);
		color: var(--foreground);
	}
	
	.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-fmcmS-wGMbrd /* Add a note - Text Area */,
	.jO7h3c /* Response Choices */
	,.OwNvm /* Completed Task Options */
	,.sVASAd.N4XV7d /* Days in the Find a time tool */
	,.UMrnmb-XPtOyb .VfPpkd-rOvkhd-jPmIDe-OWXEXe-ssJRIf:not(.VfPpkd-rOvkhd-jPmIDe-OWXEXe-SdanKc):hover .VfPpkd-rOvkhd-TfeOUb-V67aGc /* Propose New Time */
	,.esZWob:not(.VfPpkd-rOvkhd-XPtOyb-OWXEXe-OWB6Me) .VfPpkd-rOvkhd-TfeOUb-V67aGc /* Proposed Time */
	{
		color: var(--foreground);
	}
	
	.SP8Atf /* Completed Task Icons */
	{
		color: var(--comment);
	}
	
	.NZp2ef,/* Event Detail Options Background */
	.cC1eCc .VfPpkd-P5QLlc /* Add a note background */,
	.JPdR6b
	{
		background-color: var(--currentLine);
	}
	
	/* Event Detail Buttons */
	.wIfg3e.KKjvXb .myBJaf:not(:disabled),
	.wIfg3e.KKjvXb .Pjbkr:not(:disabled)
	{
		border-color: var(--background);
	}
	
	/* RSVP Hover */
	.z80M1.FwR7Pc {
		background-color: var(--background);
	}
	
	.KF4T6b.UflSff .nHqeVd
	,.meh4fc svg
	{
		color: var(--comment);	
		fill: var(--comment);
	}
	
	.wIfg3e.KKjvXb .myBJaf:not(:disabled),
	.wIfg3e.KKjvXb .Pjbkr:not(:disabled),
	.DrZ8nd:not(:disabled),
	.qau86b,
	.s3dr1 /* Set your working location */,
	.HfYfLe:hover /* Snowman - Event Details */,
	#c2637 /* Add a Note Text */,
	.lUmaj .c7fp5b /* RSVP Status */,
	.mr0WL
	, .KF4T6b.KCIIIb /* More Events - Month Calendar */
	{
		color: var(--purple)
	}
	
	.YWILgc /* Event Details - Borders */
	{
		border-top: var(--comment) 1px solid;
	}
	
	.lhydbb.EiZ8Dd.UflSff, .lhydbb.YkxAAf.UflSff /* Forgot to write this down */,
	.cC1eCc .VfPpkd-cnG4Wd
	{
		color: var(--background)
	}
	
	.kma42e /* Event/Task Details Background */
	, .cnTo8e.FYQzvb::before /* Meet with Person Card */
	{
		background-color: var(--currentLine)
	}
	
	.AzuXid /* Repeat Frequency - Task Details */
	{
		color: var(--pink);
	}
	
	.IPEQnf /* Take Meeting Notes */,
	.S4zwaf a:link, .S4zwaf a:visited, .S4zwaf a:active, .S4zwaf a:hover /* Hyperlinks in meeting details */
	{
		color: var(--cyan);
	}
	
	.pdqVLc .AzuXid /* Start a new document ... */,
	.pVsObb /* Search for People */
	{
		color: var(--comment)
	}
	
	.hEtGGf::after{
		display: none;
	}
	
	.DYLA1c /* People Card Background */,
	.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me), .lUmaj
	{
		background-color: var(--currentLine);
	}
	
	.WmnPA:not(.VfPpkd-fmcmS-yrriRe-OWXEXe-OWB6Me) .VfPpkd-RWgCYc-ksKsZd::after
	{
		border-bottom-color: var(--pink);
	}
	
	/* New Event Details */
	.zmrbhe
	,.tWjOu.F262Ye /* Today Week Day */
	,.jfFyNc /* Guest Permissions */
	,.l3F1ye, .l3F1ye .TpQm9d /* Send Button on invitation with guests */
	{
		color: var(--purple);
	}
	.zmrbhe.qs41qe
	{
		color: var(--foreground);
		background-color: var(--purple)
	}
	.XsU8xf /* new event icons */
	,.v094wc, .KJGbpd
	,.ydqcTb
	,.Z5RD1e /* new event dates */
	,.jT5e9 /* Calendar Selector */
	,.hqBSCb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-uusGie-fmcmS
	,.D47vbb:not(:disabled)
	,.q6oraf .VfPpkd-StrnGf-rymPhb .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .q6oraf .VfPpkd-StrnGf-rymPhb .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .q6oraf .VfPpkd-StrnGf-rymPhb .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS /* Show Weekends, Declined Events, Completed Tasks, Appt. Schedules */
	,.TxnXxc .VfPpkd-StrnGf-rymPhb-f7MjDc
	,.TxnXxc
	,.qx9Fae.EiZ8Dd /* Location Field, not edited */
	,.INBYpd:not(:disabled) /* More actions, event detail editing */
	,.s8kOBc .VfPpkd-rymPhb-Gtdoyb, .s8kOBc .VfPpkd-rymPhb-fpDzbe-fmcmS /* Repetition options */
	/* highlighted repetition options, and others */
	,.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd .VfPpkd-rymPhb-Gtdoyb
	,.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd .VfPpkd-rymPhb-fpDzbe-fmcmS
	,.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b .VfPpkd-rymPhb-Gtdoyb
	,.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b .VfPpkd-rymPhb-fpDzbe-fmcmS
	,.s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb, .s8kOBc .VfPpkd-rymPhb-ibnC6b-OWXEXe-pXU01b.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb,
	.r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-UbuQg-Bz112c .VfPpkd-rymPhb-JMEf7e, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-rymPhb-Gtdoyb, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-rymPhb-fpDzbe-fmcmS, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-rymPhb-L8ivfd-fmcmS, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-rymPhb-bC5pod-fmcmS, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-M1Soyc-Bz112c .VfPpkd-rymPhb-KkROqb, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-UbuQg-Bz112c .VfPpkd-rymPhb-JMEf7e, .r6B9Fd .VfPpkd-rymPhb-ibnC6b-OWXEXe-OWB6Me.VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-UbuQg-r4m2rf .VfPpkd-rymPhb-JMEf7e
	,.S6zzre .VfPpkd-rymPhb-Gtdoyb, .S6zzre .VfPpkd-rymPhb-fpDzbe-fmcmS
	,.cAP2G /* All Day Label */
	
	{
		color: var(--foreground);
	}
	
	.qx9Fae.EiZ8Dd:hover/* Location Field, not edited */
	,.CbBAab /* Availabiliyt might be shown in other google apps */
	,.WbUJNb.VfPpkd-AznF2e-OWXEXe-auswjd .VfPpkd-jY41G-V67aGc /* Guests/Event Details/Find a Time */
	, .OwNvm .VfPpkd-StrnGf-rymPhb-f7MjDc /* Check next to response option - hovered event */
	, .V8Yldb, .lLCaB.Enkreb /* Add a Label */
	{
		color: var(--pink);
	}
	
	
	.wTj3Dc /* new event repeat */
	,.q6oraf .VfPpkd-StrnGf-rymPhb .VfPpkd-StrnGf-rymPhb-IhFlZd /* Shortcut keys for calendars */
	,.DTJQTb /* Create Meeting Notes */
	,.hGcgEd /* Guest Permissions */
	{
		color: var(--comment);
	}
	
	.Y5sE8d /* Video conferencing */
	,.QkA63b
	{
		color: var(--foreground);
		background-color: var(--purple);
	}
	
	.nSCxEf.F262Ye, body.geSgge .nSCxEf.F262Ye /* Current Date */
	{
		color: var(--foreground);
		background-color: var(--purple);
	}
	
	
	 .gboEAb /* Right side bar with tasks */
	,.I7OXgf /* Send Invitation to Google Calendar Guests*/
	,.ncFHed /* Calendar Selector */
	,.p9lUpf /* Edit Event Details */
	,.hqBSCb:not(.VfPpkd-O1htCb-OWXEXe-OWB6Me) .VfPpkd-TkwUic /* Repetition Dropdown */
	,.VfPpkd-xl07Ob-XxIAqe /* Repetition Options */
	,.INK2ed.F262Ye /* Current Date Week Heading */
	
	{
		background-color: var(--background);
	}
	
	.ncFHed .MocG8c.KKjvXb
	,.INBYpd /* More Actions */
	,.UXzdrb
	,.s8kOBc .VfPpkd-rymPhb-ibnC6b.VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd
	{
		background-color: var(--currentLine);
	}
	
	.rvBHac .VfPpkd-AznF2e-wEcVzc-OWXEXe-NowJzb
	{
		border-color: var(--pink)
	}
	
	.oXZ1yb.T8M5bd .uEzZIb::before /* Calendar Top Border */
	{
		box-shadow: none;
		border-top: var(--foreground) 1px solid
	}
	
	.wIfg3e .myBJaf:not(:disabled) /* Yes button on event */
	,.wIfg3e .Pjbkr:not(:disabled) /* Down arrow on selector */
	{
		color: var(--purple)
	}
	
	.P2Hi5d .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .P2Hi5d .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .P2Hi5d .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS, .mkMxfe .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .mkMxfe .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .mkMxfe .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS, .OBi8lb .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .OBi8lb .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .OBi8lb .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS, .P9QRxe .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .P9QRxe .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .P9QRxe .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS, .vqjb4e .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .vqjb4e .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .vqjb4e .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS, .y8Rdrf .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .y8Rdrf .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .y8Rdrf .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS, .DMZ54e .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c, .DMZ54e .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS, .DMZ54e .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS
	{
		color: var(--mdc-theme-on-surface);
	}
	
	.lhydbb.EiZ8Dd /* Event Titles */,
	.nf2dS .zHGix /* Cancellation emails? */
	{
		color: var(--foreground);
		fill: var(--foreground);
	}
	
	/* ---- Schedule ---- */
	.ryakYc.UflSff 
	,.ryakYc
	,.H3yh2e
	,.bf2t7b
	, .bf2t7b.F262Ye
	{
		color: var(--foreground)
	}
	.H3yh2e:hover
	{
		color: var(--background)
	}
	
	.bf2t7b.F262Ye .H3yh2e
	{
		color: var(--background);
		background-color: var(--purple)
	}
	.bf2t7b.F262Ye .H3yh2e:hover
	{
		color: var(--background);
		background-color: var(--pink)
	}
}
